.cart-container {
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: left;
}
  
.cart-items {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.cart-box {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 20px;
    width: 100%;
}

.payment-container {
    border: 1px solid rgb(185, 185, 185);
    background-color: rgb(234, 234, 234);
    padding: 20px;
    max-height: 272px;
}

.payment-container h2 {
    margin-top: 0;
}

.payment-box {
    border-bottom: 1px solid rgb(196, 196, 196);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.payment-numbers {
    text-align: right;
}

.checkout {
    margin-top: 20px;
    width: 90%;
}

.checkout-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}