.contact-form-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 80px auto;
    max-width: 400px;
    padding: 20px;
  }
  
  .contact-form-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
.contact-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10px;
}
  
.contact-input,
.contact-textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin: 0;
  }
  
  textarea {
    height: 150px;
  }

  