  /* Footer */

.footer-container {
  display: grid;
  background-color: #1c1c1c; 
  color: #fff; 
  padding: 160px 0;
  text-align: center;
}

.footer-links a {
  color: #fff; 
  text-decoration: none;
  margin: 0 10px; 
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  margin-top: 10px;
  font-size: 0.8em; 
}