body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary {
  background-color: #a27408; /* Primary color */
  color: #fff;
}

.primary:hover {
  background-color: #644806; /* Darker shade of primary color on hover */
}

.secondary {
  background-color: #ffffff;
  font-weight: normal;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

.secondary:hover {
  background-color: #c4c4c4;
}

.signout-button {
  margin: 30px 10px 0px 10px;
  padding: 10px 0px;
  font-weight: bold;
}

.login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-right: 30px;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.255);
}

.login2 {
  margin-top: 30px;
  width: 90%;
}

.signup {
  width: 90%;
}

.cart {
  width: 90%;
  padding: 15px;
}