body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Books */

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #acacac;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.book-details {
  margin-top: 15px;
  text-align: center;
}

.book-title {
  font-size: 1.4em;
  margin-bottom: 5px;
  color: #5F6F52;
}

.author {
  color: #666;
  margin-bottom: 8px;
}

.price {
  font-weight: bold;
  color: #008cba;
}

.borrow-button {
  background-color: #A9B388;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.borrow-button:hover {
  background-color: #B99470;
}


/* Navbar */

.top-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 0px 20px 0px;
}

.transparent{
  background-color: transparent;
}

.black {
  background-color: black;
}

.website-name {
  font-size: 1.5em;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  width: 7%;
  padding-left: 60px;
  align-items: center;
}

.logo {
  max-width: 70px;
  height: 100%;
  border-radius: 10px;
}

.checkout-cart {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding-right: 60px;
}

.profile-button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 30px;
  color: white;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: rgba(181, 181, 181, 0.3);
}

.profile {
  width: 75%;
  height: 75%;
}

/* Hero */

.hero-banner {
  background-color: transparent;
  width: 100%;
  height: calc(100vh - 25vh);
  color: #e0e0e0;
  padding-top: 15vh; 
  text-align: center;
}

.hero-banner h1 {
  font-size: 6em;
}

.hero-banner p {
  font-size: 2.4em;
}

/* Footer */

.footer-container {
  display: grid;
  background-color: #1c1c1c; /* Footer background color */
  color: #fff; /* Text color */
  padding: 160px 0;
  text-align: center;
}

.footer-links a {
  color: #fff; /* Link color */
  text-decoration: none;
  margin: 0 10px; /* Adjust spacing between links */
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  margin-top: 10px;
  font-size: 0.8em; /* Adjust text size as needed */
}

/* Cart Preview */

.shopping-cart-preview {
  position: fixed;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: #fff;
  border: 1px solid black;
  z-index: 1000000;
  right: 0;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); /* Added a background color with opacity for better readability */
}

.cart-content {
  height: calc(100% - 120px);
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centered header content vertically */
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #555;
}

.close-btn:hover {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-details {
  display: flex;
  align-items: center; 
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.items p {
  text-align: left;
  margin: 0; 
}

.item-details img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 4px;
}

.cart-button {
  margin-bottom: 10px;
}

/* Star Canvas */

.canvas {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  position: absolute;
}

/* Profile Preview */
.profile-preview {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 13vh;
  width: 40vh;
  height: auto;
  border-radius: 10px;
  background-color: #ffffffee;
  border: 1px solid black;
  right: 10vh;
  padding-bottom: 20px;
}

.profile-container {
  z-index: 10000000;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-gap: 2px;
  text-align: left;
}

.user-name {
  font-weight: bold;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.user-name{
  padding: 0
}

.user-email {
  font-size: 0.9em;
  color: #666;
  padding: 0
}

.profile-picture {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: transparent;
}

/* Login Page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 14vh);
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.login-box {
  background-color: #ffffff; /* White background for login box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a bit of depth */
  height: 50vh;
}

input {
  width: 90%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary {
  background-color: #a27408; /* Primary color */
  color: #fff;
}

.primary:hover {
  background-color: #644806; /* Darker shade of primary color on hover */
}

.secondary {
  background-color: #ffffff;
  font-weight: normal;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

.secondary:hover {
  background-color: #c4c4c4;
}

.signout-button {
  margin: 30px 10px 0px 10px;
  padding: 10px 0px;
  font-weight: bold;
}

.login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-right: 30px;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.255);
}

.login2 {
  width: 90%;
}

.cart {
  width: 90%;
  padding: 15px;
}